.container-items {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-name {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.content-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
    color: #D03F30;
}

.stock {
    font-size: 1rem;
    color: #777;
}

.sizes-section, .quantity-section {
    margin-bottom: 20px;
}

.sizes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.size-item {
    margin: 0;
}

.size-button {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;  /* Sin fondo */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.size-button.selected,
.size-button:hover {
    background-color: #D03F30;
    color: white;
    border-color: #D03F30;
}

.quantity-section {
    display: flex;
    flex-direction: column;
}

.quantity-and-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-controls-butt {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;  /* Borde para los controles de cantidad */
    padding: 5px;
}

.quantity-button-add, .quantity-button-sub {
    background-color: transparent;  /* Sin fondo */
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.quantity-button-add:hover, .quantity-button-sub:hover {
    color: #D03F30;
}

.quantity-display {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 10px;
}

.bag-button {
    background-color: #D03F30;  /* Color morado */
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bag-button:hover {
    background-color: #9c382d;  /* Color morado más oscuro para el hover */
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .product-name {
        font-size: 1.5rem;
    }

    .price {
        font-size: 1.25rem;
    }

    .quantity-controls {
        justify-content: center;
    }

    .quantity-button-add, .quantity-button-sub {
        width: 40px;
    }

    .quantity-display {
        font-size: 1.25rem;
    }

    .size-button {
        width: 100px;
    }

    .quantity-and-button {
        flex-direction: column;
        align-items: center;
    }
}
