.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.card-divider {
    border: none;
    margin: 0;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    margin: 16px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
}

.card-info {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center; /* Center the content vertically */
}

.card-title {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card-title:hover {
    color: #c21a01;
}

.card-brand {
    font-size: 1rem;
    color: #555;
    margin: 8px 0;
}

.card-price {
    font-size: 1.5rem;
    color: #000;
    margin: 0 0;
    font-weight: bold;
}

.card-button {
    padding: 12px 24px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    text-decoration: none;
}

.card-button:hover {
    background-color: #D03F30;
    transform: translateY(-2px);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .card-title {
        font-size: 1.25rem;
    }

    .card {
        max-width: 45%;
        margin: 5px auto;
    }

    .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .card-info {
        padding: 16px;
    }

    .card-button {
        padding: 4px 8px;
    }
}
